
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# debug
# dependencies
# env files
# next.js
# production
# typescript
# vercel
*.tsbuildinfo
.env*
.pnpm-debug.log*
.vercel
/.next/
/build
/node_modules
/out/
next-env.d.ts
next-env.d.tsout/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
